<style>
  #userRegistrationForm {
    width: 90%;
    margin: auto;
  }

  #userRegistrationForm input.ng-dirty.ng-invalid { background-color: lightpink; }
  
  #userRegistrationForm input.ng-dirty.ng-valid { background-color: lightgreen; }
</style>

<div id="userRegistrationForm" ng-controller="registerCtrl">
<form id="userRegistrationForm" name='userRegistrationForm' ng-submit="register(newUser)" novalidate role='form'>
  <br/>
  <div class='form-group'>
    <label for='registerUsername'>Username</label>
    <input class='form-control' id='registerUsername' maxlength='50' name='registerUsername' ng-model='data.newUser.username' placeholder='Please enter your username' required type='text' />
  </div>
  <div class='form-group'>
    <label for='registerEmail'>Email address</label>
    <input class='form-control' id='registerEmail' maxlength='50' name='registerEmail' ng-model='data.newUser.email' placeholder='Please enter your email address' required type='email' />
  </div>
  <div class='form-group'>
    <label for='registerPassword'>Password</label>
    <input class='form-control' id='registerPassword' maxlength='50' name='registerPassword' ng-model='data.newUser.password' password-confirmation='{{data.newUser.passwordConfirmation}}' placeholder='Please enter your password' required type='password' />
  </div>
  <div class='form-group'>
    <label for='registerPasswordConfirmation'>Confirm your password</label>
    <input class='form-control' id='registerPasswordConfirmation' maxlength='50' name='registerPasswordConfirmation' ng-model='data.newUser.passwordConfirmation' password-confirmation='{{data.newUser.password}}' placeholder='Please confirm your passord' required type='password' />
  </div>
  
  
	<noscript>
		&lt;div&gt;&lt;label for="UserSecurityCode"&gt;Please enter the sum of 7 + 4&lt;/label&gt;&lt;input name="data[User][security_code]" type="text" id="UserSecurityCode" /&gt;&lt;/div&gt;
	</noscript>
		
	<div id="AYAHr9W9tZzS5uqMIukljIA2PNtts80lPZlQJ3qmCMte5g3sj"><input type="hidden" name="session_secret" value="r9W9tZzS5uqMIukljIA2PNtts80lPZlQJ3qmCMte5g3sj"></div><script src="https://ws.areyouahuman.com/ws/script/46d75c34d8b25db5ed2837d428ae4fd53cbfdbae" type="text/javascript" language="JavaScript"></script><script type="text/javascript" src="https://as.areyouahuman.com/www/delivery/ajs.php?zoneid=1&amp;ayah_categories=ApprovalStatus-Approved&amp;cb=58941331644&amp;charset=UTF-8&amp;loc=http%3A//www.repliqueministry.org/new/users/register&amp;referer=http%3A//www.repliqueministry.org/"></script>
  <!--<script type="application/javascript">
    AYAH_campaignCallback("none","NO_CAMPAIGN_MATCHES_FOUND");
  </script>-->
  <script type="text/javascript" src="https://d.adroll.com/ipixel/LBVW5LMDU5BY7PGA5ZDQ24/C77VWIVMEZCYNDARZPX3ML?name=control"></script>
  <div id="beacon_05b555ae6f" style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://as.areyouahuman.com/www/delivery/lg.php?bannerid=10&amp;campaignid=4&amp;zoneid=1&amp;loc=1&amp;referer=http%3A%2F%2Fwww.repliqueministry.org%2Fnew%2Fusers%2Fregister&amp;cb=05b555ae6f" width="0" height="0" alt="" style="width: 0px; height: 0px;">
  </div>
  <script type="text/javascript" src="https://d.adroll.com/ipixel/LBVW5LMDU5BY7PGA5ZDQ24/C77VWIVMEZCYNDARZPX3ML?name=control"></script>
  <br/>
  <div>
    <button class='btn btn-primary' ng-disabled='userRegistrationForm.$invalid' type='submit'>Register</button>
  </div>
</form>
</div>